In [10]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import scipy.stats as stats
import csv

In [11]:
# Create a connection to the database (use context manager)
with sqlite3.connect('CardiovascularDisease.db') as conn:

    # Create the table (if not exists)
    create_table = """
    CREATE TABLE IF NOT EXISTS Heart_disease_data (
        US_States TEXT,
        Year TEXT,
        Ethnicity TEXT,
        Gender TEXT,
        Heart_Disease_Type TEXT,
        Age_range TEXT,
        Data_Value_100_000 People TEXT
    );
    """
    conn.execute(create_table_sql)

In [19]:
# Define the base path for CSV file
base_path = "../Averaged_Cleaned_filtered_data.csv"

# Read the CSV data using pandas
df = pd.read_csv(base_path)
conn.execute("DROP TABLE IF EXISTS Heart_disease_data;")

# Insert data efficiently using to_sql method with appropriate index
df.to_sql('Heart_disease_data', conn, index=False)  

# Read data from the table
query = "SELECT * FROM Heart_disease_data"
data = pd.read_sql_query(query, conn)

# Print DataFrame 
data.head()

,US States,Year,Ethnicity,Gender,Heart Disease Type,Age range,Data_Value/100_000 People
0,AK,1999.0,American Indian/Alaska Native,Overall,All heart disease,Ages 35-64 years,84.886667
1,AK,1999.0,American Indian/Alaska Native,Overall,All heart disease,Ages 65 years and older,1433.755556
2,AK,1999.0,American Indian/Alaska Native,Overall,All stroke,Ages 35-64 years,23.786667
3,AK,1999.0,American Indian/Alaska Native,Overall,All stroke,Ages 65 years and older,680.877778
4,AK,1999.0,American Indian/Alaska Native,Overall,Cardiovascular disease (CVD),Ages 35-64 years,87.780000