In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import scipy.stats as stats

In [31]:
# Read in .csv dataset, 1999

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_1999.csv'
CVD_1999_df = pd.read_csv(path)
CVD_1999_df["year"] = CVD_1999_df["year"].astype(float)
CVD_1999_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  147995 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102885 non-null  object
 11  data_value_footnote         102885 non-null  object
 12  confidence_limit_low        147995 non-null  float64
 13  confidence_limit_high       147995 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [7]:
# Read in .csv dataset, 2000

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_2000.csv'
CVD_2000_df = pd.read_csv(path)
CVD_2000_df["year"] = CVD_2000_df["year"].astype(float)
CVD_2000_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  147995 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102885 non-null  object
 11  data_value_footnote         102885 non-null  object
 12  confidence_limit_low        147995 non-null  float64
 13  confidence_limit_high       147995 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [8]:
# Read in .csv dataset, 2001

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_2001.csv'
CVD_2001_df = pd.read_csv(path)
CVD_2001_df["year"] = CVD_2001_df["year"].astype(float)
CVD_2001_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  147995 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102885 non-null  object
 11  data_value_footnote         102885 non-null  object
 12  confidence_limit_low        147995 non-null  float64
 13  confidence_limit_high       147995 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [9]:
# Read in .csv dataset, 2002

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_2002.csv'
CVD_2002_df = pd.read_csv(path)
CVD_2002_df["year"] = CVD_2002_df["year"].astype(float)
CVD_2002_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  147995 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102885 non-null  object
 11  data_value_footnote         102885 non-null  object
 12  confidence_limit_low        147995 non-null  float64
 13  confidence_limit_high       147995 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [10]:
# Read in .csv dataset, 2003

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_2003.csv'
CVD_2003_df = pd.read_csv(path)
CVD_2003_df["year"] = CVD_2003_df["year"].astype(float)
CVD_2003_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  147995 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102885 non-null  object
 11  data_value_footnote         102885 non-null  object
 12  confidence_limit_low        147995 non-null  float64
 13  confidence_limit_high       147995 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [11]:
# Read in .csv dataset, 2004

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_2004.csv'
CVD_2004_df = pd.read_csv(path)
CVD_2004_df["year"] = CVD_2004_df["year"].astype(float)
CVD_2004_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  147995 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102885 non-null  object
 11  data_value_footnote         102885 non-null  object
 12  confidence_limit_low        147995 non-null  float64
 13  confidence_limit_high       147995 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [12]:
# Read in .csv dataset, 2005

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_2005.csv'
CVD_2005_df = pd.read_csv(path)
CVD_2005_df["year"] = CVD_2005_df["year"].astype(float)
CVD_2005_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  148050 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102830 non-null  object
 11  data_value_footnote         102830 non-null  object
 12  confidence_limit_low        148050 non-null  float64
 13  confidence_limit_high       148050 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [13]:
# Read in .csv dataset, 2006

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_2006.csv'
CVD_2006_df = pd.read_csv(path)
CVD_2006_df["year"] = CVD_2006_df["year"].astype(float)
CVD_2006_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  148050 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102830 non-null  object
 11  data_value_footnote         102830 non-null  object
 12  confidence_limit_low        148050 non-null  float64
 13  confidence_limit_high       148050 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [14]:
# Read in .csv dataset, 2007

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_2007.csv'
CVD_2007_df = pd.read_csv(path)
CVD_2007_df["year"] = CVD_2007_df["year"].astype(float)
CVD_2007_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  148050 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102830 non-null  object
 11  data_value_footnote         102830 non-null  object
 12  confidence_limit_low        148050 non-null  float64
 13  confidence_limit_high       148050 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [15]:
# Read in .csv dataset, 2008

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_2008.csv'
CVD_2008_df = pd.read_csv(path)
CVD_2008_df["year"] = CVD_2008_df["year"].astype(float)
CVD_2008_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  148050 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102830 non-null  object
 11  data_value_footnote         102830 non-null  object
 12  confidence_limit_low        148050 non-null  float64
 13  confidence_limit_high       148050 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [16]:
# Read in .csv dataset, 2009

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_2009.csv'
CVD_2009_df = pd.read_csv(path)
CVD_2009_df["year"] = CVD_2009_df["year"].astype(float)
CVD_2009_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  148050 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102830 non-null  object
 11  data_value_footnote         102830 non-null  object
 12  confidence_limit_low        148050 non-null  float64
 13  confidence_limit_high       148050 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [17]:
# Read in .csv dataset, 2010

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_2010.csv'
CVD_2010_df = pd.read_csv(path)
CVD_2010_df["year"] = CVD_2010_df["year"].astype(float)
CVD_2010_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  148050 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102830 non-null  object
 11  data_value_footnote         102830 non-null  object
 12  confidence_limit_low        148050 non-null  float64
 13  confidence_limit_high       148050 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [18]:
# Read in .csv dataset, 2011

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_2011.csv'
CVD_2011_df = pd.read_csv(path)
CVD_2011_df["year"] = CVD_2011_df["year"].astype(float)
CVD_2011_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  148050 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102830 non-null  object
 11  data_value_footnote         102830 non-null  object
 12  confidence_limit_low        148050 non-null  float64
 13  confidence_limit_high       148050 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [19]:
# Read in .csv dataset, 2012

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_2012.csv'
CVD_2012_df = pd.read_csv(path)
CVD_2012_df["year"] = CVD_2012_df["year"].astype(float)
CVD_2012_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  148050 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102830 non-null  object
 11  data_value_footnote         102830 non-null  object
 12  confidence_limit_low        148050 non-null  float64
 13  confidence_limit_high       148050 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [20]:
# Read in .csv dataset, 2013

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_2013.csv'
CVD_2013_df = pd.read_csv(path)
CVD_2013_df["year"] = CVD_2013_df["year"].astype(float)
CVD_2013_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  148050 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102830 non-null  object
 11  data_value_footnote         102830 non-null  object
 12  confidence_limit_low        148050 non-null  float64
 13  confidence_limit_high       148050 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [21]:
# Read in .csv dataset, 2014

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_2014.csv'
CVD_2014_df = pd.read_csv(path)
CVD_2014_df["year"] = CVD_2014_df["year"].astype(float)
CVD_2014_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  148050 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102830 non-null  object
 11  data_value_footnote         102830 non-null  object
 12  confidence_limit_low        148050 non-null  float64
 13  confidence_limit_high       148050 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [22]:
# Read in .csv dataset, 2015

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_2015.csv'
CVD_2015_df = pd.read_csv(path)
CVD_2015_df["year"] = CVD_2015_df["year"].astype(float)
CVD_2015_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  148050 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102830 non-null  object
 11  data_value_footnote         102830 non-null  object
 12  confidence_limit_low        148050 non-null  float64
 13  confidence_limit_high       148050 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [23]:
# Read in .csv dataset, 2016

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_2016.csv'
CVD_2016_df = pd.read_csv(path)
CVD_2016_df["year"] = CVD_2016_df["year"].astype(float)
CVD_2016_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  148050 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102830 non-null  object
 11  data_value_footnote         102830 non-null  object
 12  confidence_limit_low        148050 non-null  float64
 13  confidence_limit_high       148050 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [24]:
# Read in .csv dataset, 2017

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_2017.csv'
CVD_2017_df = pd.read_csv(path)
CVD_2017_df["year"] = CVD_2017_df["year"].astype(float)
CVD_2017_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  148050 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102830 non-null  object
 11  data_value_footnote         102830 non-null  object
 12  confidence_limit_low        148050 non-null  float64
 13  confidence_limit_high       148050 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [25]:
# Read in .csv dataset, 2018

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_2018.csv'
CVD_2018_df = pd.read_csv(path)
CVD_2018_df["year"] = CVD_2018_df["year"].astype(float)
CVD_2018_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  148050 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102830 non-null  object
 11  data_value_footnote         102830 non-null  object
 12  confidence_limit_low        148050 non-null  float64
 13  confidence_limit_high       148050 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [26]:
# Read in .csv dataset, 2019

path = 'Resources/CDC_Rates_in_Heart_Disease_and_Stroke_Mortality_Among_US_Adults_By_State_Race_Ethnicity_and_Sex_2019.csv'
CVD_2019_df = pd.read_csv(path)
CVD_2019_df["year"] = CVD_2019_df["year"].astype(float)
CVD_2019_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250880 entries, 0 to 250879
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   year                        250880 non-null  float64
 1   locationabbr                250880 non-null  object
 2   locationdesc                250880 non-null  object
 3   geographiclevel             250880 non-null  object
 4   datasource                  250880 non-null  object
 5   class                       250880 non-null  object
 6   topic                       250880 non-null  object
 7   data_value                  148050 non-null  float64
 8   data_value_unit             250880 non-null  object
 9   data_value_type             250880 non-null  object
 10  data_value_footnote_symbol  102830 non-null  object
 11  data_value_footnote         102830 non-null  object
 12  confidence_limit_low        148050 non-null  float64
 13  confidence_limit_high       148050 non-null  float64
 14  stratificationcategory1     250880 non-null  object
 15  stratification1             250880 non-null  object
 16  stratificationcategory2     250880 non-null  object
 17  stratification2             250880 non-null  object
 18  stratificationcategory3     250880 non-null  object
 19  stratification3             250880 non-null  object
 20  locationid                  250880 non-null  int64
dtypes: float64(4), int64(1), object(16)
memory usage: 40.2+ MB

In [33]:
# Drop any rows with null values, 1999
Clean_CVD_1999_df = CVD_1999_df.dropna(axis=0, how = "all")
Clean_CVD_1999_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,1999.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,1999.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,1999.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,1999.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,1999.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Heart failure,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [35]:
# Drop any rows with null values, 2000
Clean_CVD_2000_df = CVD_2000_df.dropna(axis=0, how = "all")
Clean_CVD_2000_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,2000.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2000.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2000.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2000.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,2000.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Heart failure,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [36]:
# Drop any rows with null values, 2001
Clean_CVD_2001_df = CVD_2001_df.dropna(axis=0, how = "all")
Clean_CVD_2001_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,2001.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2001.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2001.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2001.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,2001.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Heart failure,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [37]:
# Drop any rows with null values, 2002
Clean_CVD_2002_df = CVD_2002_df.dropna(axis=0, how = "all")
Clean_CVD_2002_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,2002.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2002.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2002.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2002.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,2002.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Heart failure,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [38]:
# Drop any rows with null values, 2003
Clean_CVD_2003_df = CVD_2003_df.dropna(axis=0, how = "all")
Clean_CVD_2003_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,2003.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2003.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2003.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2003.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,2003.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Heart failure,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [39]:
# Drop any rows with null values, 2004
Clean_CVD_2004_df = CVD_2004_df.dropna(axis=0, how = "all")
Clean_CVD_2004_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,2004.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2004.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2004.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2004.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,2004.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Heart failure,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [40]:
# Drop any rows with null values, 2005
Clean_CVD_2005_df = CVD_2005_df.dropna(axis=0, how = "all")
Clean_CVD_2005_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,2005.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2005.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2005.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2005.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,2005.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Heart failure,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [41]:
# Drop any rows with null values, 2006
Clean_CVD_2006_df = CVD_2006_df.dropna(axis=0, how = "all")
Clean_CVD_2006_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,2006.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2006.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2006.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2006.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,2006.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Heart failure,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [42]:
# Drop any rows with null values, 2007
Clean_CVD_2007_df = CVD_2007_df.dropna(axis=0, how = "all")
Clean_CVD_2007_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,2007.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2007.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2007.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2007.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,2007.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Heart failure,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [43]:
# Drop any rows with null values, 2008
Clean_CVD_2008_df = CVD_2008_df.dropna(axis=0, how = "all")
Clean_CVD_2008_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,2008.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2008.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2008.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2008.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,2008.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Heart failure,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [44]:
# Drop any rows with null values, 2009
Clean_CVD_2009_df = CVD_2009_df.dropna(axis=0, how = "all")
Clean_CVD_2009_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,2009.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2009.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2009.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2009.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,2009.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Heart failure,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [45]:
# Drop any rows with null values, 2010
Clean_CVD_2010_df = CVD_2010_df.dropna(axis=0, how = "all")
Clean_CVD_2010_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,2010.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2010.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2010.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2010.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,2010.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Heart failure,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [46]:
# Drop any rows with null values, 2011
Clean_CVD_2011_df = CVD_2011_df.dropna(axis=0, how = "all")
Clean_CVD_2011_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,2011.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2011.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2011.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2011.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,2011.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,29.5,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,NaN,22.9,39.7,Age group,Ages 35-64 years,Race,Overall,Sex,Men,1001

In [47]:
# Drop any rows with null values, 2012
Clean_CVD_2012_df = CVD_2012_df.dropna(axis=0, how = "all")
Clean_CVD_2012_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,2012.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2012.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2012.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2012.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,2012.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Heart failure,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [48]:
# Drop any rows with null values, 2013
Clean_CVD_2013_df = CVD_2013_df.dropna(axis=0, how = "all")
Clean_CVD_2013_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,2013.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2013.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2013.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2013.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,2013.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Heart failure,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [49]:
# Drop any rows with null values, 2014
Clean_CVD_2014_df = CVD_2014_df.dropna(axis=0, how = "all")
Clean_CVD_2014_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,2014.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2014.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2014.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2014.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,2014.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Heart failure,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [50]:
# Drop any rows with null values, 2015
Clean_CVD_2015_df = CVD_2015_df.dropna(axis=0, how = "all")
Clean_CVD_2015_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,2015.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2015.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2015.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2015.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,2015.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Heart failure,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [51]:
# Drop any rows with null values, 2016
Clean_CVD_2016_df = CVD_2016_df.dropna(axis=0, how = "all")
Clean_CVD_2016_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,2016.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2016.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2016.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2016.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,25.7,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,NaN,21.3,30.9,Age group,Ages 35-64 years,Race,Overall,Sex,Overall,1001
4,2016.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [52]:
# Drop any rows with null values, 2017
Clean_CVD_2017_df = CVD_2017_df.dropna(axis=0, how = "all")
Clean_CVD_2017_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,2017.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2017.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2017.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2017.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,2017.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Heart failure,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [53]:
# Drop any rows with null values, 2018
Clean_CVD_2018_df = CVD_2018_df.dropna(axis=0, how = "all")
Clean_CVD_2018_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,2018.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2018.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2018.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2018.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,2018.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Heart failure,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [54]:
# Drop any rows with null values, 2019
Clean_CVD_2019_df = CVD_2019_df.dropna(axis=0, how = "all")
Clean_CVD_2019_df.head()

,year,locationabbr,locationdesc,geographiclevel,datasource,class,topic,data_value,data_value_unit,data_value_type,...,data_value_footnote,confidence_limit_low,confidence_limit_high,stratificationcategory1,stratification1,stratificationcategory2,stratification2,stratificationcategory3,stratification3,locationid
0,2019.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All heart disease,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
1,2019.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,All stroke,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
2,2019.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Coronary heart disease (CHD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
3,2019.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Cardiovascular disease (CVD),NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001
4,2019.0,AL,Autauga,County,NVSS,Cardiovascular Diseases,Heart failure,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",...,Value suppressed,NaN,NaN,Age group,Ages 35-64 years,Race,American Indian/Alaska Native,Sex,Overall,1001

In [7]:
## Rename original columns, 1999
Renamed_CVD_1999 = Clean_CVD_1999.rename(columns = {"LocationAbbr": "US States", "LocationDesc": "US County",\
                                                               "Topic": "CVD Type", "Data_Value_Unit": "Rate per 100,000 population",\
                                                               "Stratification1": "Age range", "Stratification2": "Ethnicity", "Stratification3": "Gender"})
Renamed_CVD_1999.head()

,Year,US States,Heart Disease Type,Data_Value/100_000 People,Age range,Ethnicity,Gender
53,2016.0,AL,All stroke,25.7,Ages 35-64 years,Overall,Overall
79,2011.0,AL,All stroke,29.5,Ages 35-64 years,Overall,Men
106,2017.0,AL,All stroke,33.6,Ages 35-64 years,Overall,Men
108,2017.0,AL,All heart disease,128.7,Ages 35-64 years,Overall,Overall
109,2016.0,AL,All heart disease,128.1,Ages 35-64 years,Overall,Overall

In [ ]:
## Rename original columns, 2000

In [ ]:
## Rename original columns, 2001

In [ ]:
## Rename original columns, 2002

In [ ]:
## Rename original columns, 2003

In [ ]:
## Rename original columns, 2004

In [ ]:
## Rename original columns, 2005

In [ ]:
## Rename original columns, 2006

In [ ]:
## Rename original columns, 2007

In [ ]:
## Rename original columns, 2008

In [ ]:
## Rename original columns, 2009

In [ ]:
## Rename original columns, 2010

In [ ]:
## Rename original columns, 2011

In [ ]:
## Rename original columns, 2012

In [ ]:
## Rename original columns, 2013

In [ ]:
## Rename original columns, 2014

In [ ]:
## Rename original columns, 2015

In [ ]:
## Rename original columns, 2016

In [ ]:
## Rename original columns, 2017

In [ ]:
## Rename original columns, 2018

In [ ]:
## Rename original columns, 2019

In [12]:
# Show a list of all the different states in the dataset.

## NOTE: this will need to be updated to loop through all the years now
#state_list = Heart_disease_rename['US States'].unique().tolist()
#state_list

['AL',
 'AK',
 'AZ',
 'AR',
 'CA',
 'CO',
 'CT',
 'DE',
 'FL',
 'DC',
 'GA',
 'HI',
 'ID',
 'IL']

In [20]:
# Group by the specified columns and calculate the mean for 'Data_Value/100_000 People' by County

## THis will need to be updated to append all the years together

# Averaged_grouped_df = Heart_disease_rename.groupby(['US States', 'Year', 'Ethnicity', 'Gender', 'CVD Type','Age range'], as_index=False).mean()
# ^^ So basically it takes any rows that have the same values in columns 'US States', 
# 'Year' 'Ethnicity' , 'Gender', 'Heart Disease Type' and 'Age range'
# and finds the average of those rows then returns a data frame with
# one value (average) for the 'Data_Value/100_000 People'.

In [17]:
Averaged_grouped_df

,US States,Year,Ethnicity,Gender,Heart Disease Type,Age range,Data_Value/100_000 People
0,AK,1999.0,American Indian/Alaska Native,Overall,All heart disease,Ages 35-64 years,84.886667
1,AK,1999.0,American Indian/Alaska Native,Overall,All heart disease,Ages 65 years and older,1433.755556
2,AK,1999.0,American Indian/Alaska Native,Overall,All stroke,Ages 35-64 years,23.786667
3,AK,1999.0,American Indian/Alaska Native,Overall,All stroke,Ages 65 years and older,680.877778
4,AK,1999.0,American Indian/Alaska Native,Overall,Cardiovascular disease (CVD),Ages 35-64 years,87.780000
...,...,...,...,...,...,...,...
22465,IL,2019.0,White,Overall,Cardiovascular disease (CVD),Ages 65 years and older,1561.057143
22466,IL,2019.0,White,Overall,Coronary heart disease (CHD),Ages 35-64 years,66.591429
22467,IL,2019.0,White,Overall,Coronary heart disease (CHD),Ages 65 years and older,577.260000
22468,IL,2019.0,White,Overall,Heart failure,Ages 35-64 years,18.165714
22469,IL,2019.0,White,Overall,Heart failure,Ages 65 years and older,515.251429

In [19]:
# Filtered DF to check if above is correct:
# Filter the DataFrame

df = Heart_disease_rename

filtered_df = df[
    (df['US States'] == 'AK') &
    (df['Year'] == 1999.0) &
    (df['Ethnicity'] == 'American Indian/Alaska Native') &
    (df['Gender'] == 'Overall') &
    (df['Heart Disease Type'] == 'All heart disease') &
    (df['Age range'] == 'Ages 65 years and older')
]

filtered_df

,Year,US States,Heart Disease Type,Data_Value/100_000 People,Age range,Ethnicity,Gender
116782,1999.0,AK,All heart disease,1704.0,Ages 65 years and older,American Indian/Alaska Native,Overall
118450,1999.0,AK,All heart disease,1279.7,Ages 65 years and older,American Indian/Alaska Native,Overall
125189,1999.0,AK,All heart disease,1371.5,Ages 65 years and older,American Indian/Alaska Native,Overall
126878,1999.0,AK,All heart disease,1738.8,Ages 65 years and older,American Indian/Alaska Native,Overall
133615,1999.0,AK,All heart disease,1679.0,Ages 65 years and older,American Indian/Alaska Native,Overall
135246,1999.0,AK,All heart disease,1223.5,Ages 65 years and older,American Indian/Alaska Native,Overall
147030,1999.0,AK,All heart disease,1212.4,Ages 65 years and older,American Indian/Alaska Native,Overall
148718,1999.0,AK,All heart disease,1347.5,Ages 65 years and older,American Indian/Alaska Native,Overall
150398,1999.0,AK,All heart disease,1347.4,Ages 65 years and older,American Indian/Alaska Native,Overall

In [25]:
Averaged_grouped_df.to_csv('Averaged_Cleaned_filtered_data.csv', index=False)